body {
  position: relative;
  font-size: 1.05rem;
}
header {
  margin-top: 6%;
  display: inline-block;
  padding: 2%;
  border: 2px solid black;
}
#firstImg {
  float: right;
  width: 40%;
  margin-left: 2%;
  margin-bottom: 0.7%;
}
#secondImg {
  float: left;
  width: 35%;
  margin-right: 2%;
  margin-bottom: 1%;
}
#thirdImg {
  width: 35%;
  float: right;
}
#forthImg {
  width: 45%;
  float: left;
  margin: 0.7% 2% 0.7% 0%;
}
#fifthImg {
  margin-top: 2%;
  width: 100%;
  transition: 2s;
}
#sixthImg {
  float: right;
  width: 25%;

  margin: 2% 0% 0.7% 2%;
}
#seventhImg {
  width: 25%;
  float: left;
  margin-right: 2%;
  margin-bottom: 0.7%;
}
#eighthImg {
  width: 33%;
  float: right;
}

.nav {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  opacity: 0.15;
  transition: 1s;
  font-size: 2rem;
  font-family: Bebas Neue;
}
.nav:hover {
  opacity: 1;
}
.nav a {
  text-decoration: none;
  color: black;
}
.second {
  display: inline-block;
  margin-top: 3%;
  border: 2px solid black;
  padding: 2%;
}
.font {
  font-size: 1.4rem;
}
.galary img {
  width: 30%;
  margin: 1%;
  transition: 1s;
}
.galary img:hover,
.media:hover {
  scale: 1.1;
}

.media:hover {
  background-color: gainsboro;
  border-color: gainsboro;
}
.display {
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.media,
.media1 {
  display: inline;
  border: 2px solid rgb(227, 196, 196);
  border-radius: 20%;
  padding: 1%;
  background-color: rgb(227, 196, 196);
  font-family: fantasy;
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 2%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.marginSection {
  margin-top: 3%;
}
.inlineBlock {
  display: inline-block;
}
h2 {
  text-align: center;
}
.hidden {
  display: none;
}
.videoWidth {
  width: 100%;
}
#video1,
#video2 {
  margin: 1%;
}
p + h2 {
  font-size: 2rem;
}
footer {
  border: 2px solid black;
  border-top: none;
  display: flex;
}

footer img {
  width: 5%;
  margin: 1%;
}
